<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%5p %40.40logger{1}:%-4L) %m%n
            </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <logger name="io.github.vuthailinh" level="debug"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>